<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>American Sign Language Detector</title>
    <link rel="stylesheet" href=".\styles.css" />
  </head>
  <body>
    <!-- Landing Page -->
    <header>
      <nav>
        <h3>Sai Sumakar|B Ritesh|Keerthi Rekha</h3>
      </nav>
    </header>
    <main>
      <div class="content">
        <h2>Computer Vision Project</h2>
        <h1>American Sign Language Detector</h1>
        <p>
          This project utilizes a custom Convolutional Neural Network (CNN)
          model trained on American Sign Language Dataset. The system processes
          input images using edge detection techniques to enhance features, and
          the trained model recognizes hand gestures corresponding to ASL signs.
        </p>
        <button id="getStarted">Get Started</button>
      </div>
    </main>

    <!-- Second Section -->
    <section class="second-section" id="secondSection">
      <a href="#top" class="back-link">&lt;Back</a>
      <div class="main-container">
        <div class="box" id="video-feed">
          <video id="video" autoplay></video>
        </div>

        <div class="box text-box">
          <p>Text:</p>
          <!-- Static label at the top-left -->
          <div id="dynamic-text">Detected text will appear here...</div>
        </div>
      </div>
      <div class="button-container">
        <div class="buttons">
          <button id="start">Start</button>
          <button id="stop" disabled>Stop</button>
        </div>
      </div>
    </section>

    <script src="script.js"></script>
  </body>
</html>
